
#             next-leaflet - config version 0.1.0
#        ━━  An optimized tech stack for efficiency.  ━━
#             Need help? mail@thijmenheuvelink.nl

# Docker deploy modifier, either puts the app in development or production mode.
# ┗━ Options: "dev" or "prod" ━━ default: "dev"
COMPOSE_PROFILES= "dev"

# Application port, which port the web app will listen on.
# ┗━ Options: "integer" ━━ default: "3000"
APP_PORT= "3000"

# Prisma connector, required by the generator to establish a database connection.
# ┗━ Options: "Connection URL" ━━ default: "postgresql://postgres:U6b385PveW2zn2VA4Wtc@database:5432/postgres"
DATABASE_URL="postgresql://postgres:U6b385PveW2zn2VA4Wtc@localhost:5432/postgres?schema=schema"

# Database port, which port the database will listen on.
# ┗━ Options: "integer" ━━ default: "5432"
DATABASE_PORT= "5432"

# Database password, used to create a user for the database.
# ┗━ Options: "string" ━━ default: "U6b385PveW2zn2VA4Wtc"
DATABASE_PASS= "U6b385PveW2zn2VA4Wtc"

# Json Web Token timeout, used to expire tokens.
# ┗━ Options: "vercel/ms" ━━ default: "45m", docs: https://github.com/vercel/ms
JWT_EXPIRY=45m

# Json Web Token secret, used to encrypt tokens.
# ┗━ Options: "string" ━━ default: "V65w6Vx&9w4Hr2z87DkM@GRFYJbF3TxGGK&KAHcPFy24u3KbVHB%X!dJ8H*WyZqn"
JWT_SECRET=V65w6Vx&9w4Hr2z87DkM@GRFYJbF3TxGGK&KAHcPFy24u3KbVHB%X!dJ8H*WyZqn
