@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.css";

button:hover {
	cursor: pointer;
}

@custom-variant dark (&:is(.dark *));

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
		letter-spacing: var(--tracking-normal);
	}
}